<div class="start">
  <div class="start-intro">
    <p class="start-intro__text">
      I’m a fan of todo list and i believe they can make our life easier structured.
      <br>
      I believe notion is the best for it, but I need some more visual representative of my progress, some extra feature to see of my learning path progress more clearly. 
      <br>
      So I decide to do this app. Will start with simple MVP and than will update from time to time (<a routerLink="/updates">updates</a>)
    </p>
  </div>
  <div class="start__action">
    <button mat-raised-button color="primary" (click)="handleStart()">start</button>
  </div>
</div>