<h2>
  Notion progress helper
</h2>
<p>
  I’m a fan of todo list and i believe they can make our life easier structured.
  <br>
  I believe notion is the best for it, but I need some more visual representative of my progress, some extra feature to see of my learning path progress more clearly. 
  <br>
  So I decide to do this app. Will start with simple MVP and than will update from time to time <!-- (<a routerLink="/updates">updates</a>) -->
</p>
<form>
  <fieldset>
    <div>
      <div class="form-group" style="display: inline-block;">
        <label for="integrationKey" class="form-label mt-4">Pls put your internal integration key</label>
        <input id="integrationKey" [formControl]="integrationKey" type="email" class="form-control" placeholder="Your integration key">
      </div>
      <button style="margin: 0 0 5px 20px;" (click)="handleSaveIntegrationKey()" type="button" class="btn btn-outline-primary">Save</button>
    </div>
    <div>
      <div class="form-group" style="display: inline-block;">
        <label for="databaseLink" class="form-label mt-4">Pls put URL link to your notion database</label>
        <input id="databaseLink" [formControl]="databaseLink" type="email" class="form-control" placeholder="Your database link">
      </div>
      <button style="margin: 0 0 5px 20px;" (click)="handleSaveDatabase()" type="button" class="btn btn-outline-primary">Save</button>
    </div>
  </fieldset>
</form>

<div style="margin-top: 1.5em;">
  <button type="button" (click)="handleSearch()" class="btn btn-outline-primary">Search</button>
</div>
