.dashboard-item {
  width: 450px;
  height: 210px;
  .link {
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: .5;
    }
  }
  .card-title {
    font-weight: bold;
  }
}
