<div class="guide">
  <div class="guide__group">
    <h2>How to use this?</h2>
  <p>
    So you will need secret token from notion and link to your database.
  </p>
  </div>
  <div class="guide__group">
    <h4>Guide to get secret token</h4>
  <p>
    <i>Check this tutorial or some other to generate your integration key <a href="https://www.codingwithmiszu.com/2021/12/28/how-to-generate-a-notion-api-token-easily/" target="_blank">link</a></i>
  </p>
  </div>
  <div class="guide__group">
    <h4>Guide to get link to your database</h4>
    <p>Click on "Click to open menu"</p>
    <img src="../../../assets/img/database.png" alt="database look" class="guide__image">
  </div>
  <div class="guide__group">
    <p>Then click on "Copy link"</p>
    <img src="../../../assets/img/database-menu.png" alt="database menu" class="guide__image">
    <p>And yeah, you have your database link that you can paste in home page</p>
  </div>
  <div class="guide__group">
    <h4>Database format</h4>
    <p>Database should have 5 required columns to have proper usage:</p>
    <ul>
      <li>done</li>
      <li>name</li>
      <li>tags</li>
      <li>link</li>
      <li>additional comment</li>
    </ul>
    <img src="../../../assets/img/database.png" alt="database look" class="guide__image">
  </div>
</div>