<div class="dashboard">
  <div *ngIf="loading$ | async">
    Loading
  </div>
  <!-- TODO: add some virtual scroll, solve ctrl+f search -->
  <div class="content" *ngIf="filters$ | async as filters">

    <div class="filters">
      <button *ngFor="let filter of filters" type="button" class="btn btn-secondary filters__items" (click)="handleFilter(filter)">{{ filter }}</button>
      <div class="btn btn-secondary filters__items" (click)="handleClearFilters()">clear</div>
    </div>

    <div *ngIf="items$ | async as items" class="content-progress">
      Progress: {{ items | doneItems }} / {{ items.length }}
    </div>

    <div *ngIf="items$ | async as items" class="dashboard-items">
      <nph-dashboard-item *ngFor="let item of items" [item]="item" class="content-block"></nph-dashboard-item>
    </div>
  </div>
</div>