<div class="dashboard">
  <!-- TODO: add some virtual scroll, solve ctrl+f search -->
  <div class="content" *ngIf="filters$ | async as filters">

    <div class="filters">
      <div *ngFor="let filter of filters" class="filters__items" (click)="handleFilter(filter)">{{ filter }}</div>
      <div class="filters__items" (click)="handleClearFilters()">clear</div>
    </div>

    <div *ngIf="items$ | async as items" class="content-progress">
      Progress: {{ items | doneItems }} / {{ items.length }}
    </div>

    <ng-container *ngIf="items$ | async as items">
      <nph-dashboard-item *ngFor="let item of items" [item]="item" class="content-block"></nph-dashboard-item>
    </ng-container>
  </div>
</div>