.dashboard {
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    flex-direction: column;
    .filters {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      margin-bottom: 2em;
      &__items {
        margin-right: 1em;
        padding: .5em;
        letter-spacing: 1px;
        &:last-child {
          margin-right: 0;
          margin-top: 1em;
        }
      }
      
    }
    &-block {
      margin-bottom: 2em;
      display: block;
    }
    &-progress {
      padding: 2em;
    }
  }
}

.dashboard-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}